<%= form_for(@url) do |f| %>
  <% if @url.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@url.errors.count, "error") %> prohibited this url from being saved:</h2>

      <ul>
      <% @url.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :menu_id %><br>
    <%= f.text_field :menu_id %>
  </div>
  <div class="field">
    <%= f.label :fi %><br>
    <%= f.text_field :fi %>
  </div>
  <div class="field">
    <%= f.label :en %><br>
    <%= f.text_field :en %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
